<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title> <%# method in applciatioN_helper %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta charset="utf-8">
   <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
   <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %> <%#This will render the main view content of the page%>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
